@model IEnumerable<IT_project_2021.Models.ExercisesModel>

@{
    ViewBag.Title = "Workout Programme";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="kingDiv">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kgLifted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sets)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExerciseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kgLifted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sets)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ExercisesId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ExercisesId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ExercisesId })
                </td>
            </tr>
        }

    </table>
    <p class="createNew">
        @Html.ActionLink("Create New", "Create")
    </p>
    </div>
</body>
</html>

<style>
    body {
        background-image: url('../../Photos/gym.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #kingDiv {
        margin-top: 20px;
        background-color: white;
        padding-bottom: 25px;
        padding-top: 25px;
        border-radius: 50px;
    }

    .createNew {
        float: right;
        padding: 5px;
        background-color: red;
        font: bold;
        border-radius: 20px;
        box-shadow: 0 10px 6px rgba(0, 0, 0, 0.12), 0 10px 4px rgba(0, 0, 0, 0.24);
        opacity: 0.9;
    }
</style>